---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>
    Written by: {frontmatter.author} on {
      frontmatter.pubDate.toString().slice(0, 10)
    }
  </p>
  <p><em>{frontmatter.description}</em></p>
  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
  <script src="https://giscus.app/client.js"
                  data-repo="[ENTER REPO HERE]"
                  data-repo-id="[ENTER REPO ID HERE]"
                  data-category="[ENTER CATEGORY NAME HERE]"
                  data-category-id="[ENTER CATEGORY ID HERE]"
                  data-mapping="pathname"
                  data-strict="0"
                  data-reactions-enabled="1"
                  data-emit-metadata="0"
                  data-input-position="bottom"
                  data-theme="preferred_color_scheme"
                  data-lang="ko"
                  crossorigin="anonymous"
                  async>
          </script>
</BaseLayout>
<style>
  a {
    color: #00539f;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
